article {
    padding: 10px;
    background: transparent;
}

article a, article a:visited {
    text-decoration: underline solid var(--a-underline-color);
}
article a:hover {
    color: var(--a-hover-color);
}
article h1 {
    text-align: center;
}
article p:has(img) {
    text-align: center;
}
article details summary {
    cursor: pointer;
    font-style: italic;
}
article details[open] summary {
    color: grey;
}
article details:not([open]) .closed {
    display: inline-block;
}
article details:not([open]) .open {
    display: none;
}
article details[open] .closed {
    display: none;
}
article details[open] .open {
    display: inline-block;
}
