html {
    background: grey;
}
body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: white;
}
h1 {
    color: var(--h1-color);
    font-size: 2em;
}
h2 {
    color: var(--h2-color);
}
h3 {
    color: var(--h3-color);
}
a, a:visited {
    color: white;
    font-style: normal;
    text-decoration: none;
}

.toc-list li a{
    color: white;
}
.toc-list li a:hover{
    color: white;
    background: var(--hover-color);
}

article {
    padding: 10px;
    background: transparent;
}

article a, article a:visited {
    text-decoration: underline solid var(--a-underline-color);
}
article a:hover {
    color: var(--a-hover-color);
}
article h1 {
    text-align: center;
}
article p:has(img) {
    text-align: center;
}
article details summary {
    cursor: pointer;
    font-style: italic;
}
article details[open] summary {
    color: grey;
}
article details:not([open]) .closed {
    display: inline-block;
}
article details:not([open]) .open {
    display: none;
}
article details[open] .closed {
    display: none;
}
article details[open] .open {
    display: inline-block;
}

article pre code {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 0.1rem;
}

article pre code:hover {
    border-color: var(--magenta-dark);
}

article pre code.flash {
    animation: glowing 500ms 1;
}

@keyframes glowing {
    0% {
      box-shadow: 0 0 3px #2ba805;
    }
    50% {
      box-shadow: 0 0 10px #49e819;
    }
    100% {
      box-shadow: 0 0 3px #2ba805;
    }
  }